input[type="text"] {
    margin-bottom: 5px;
}

.password {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.confirm-password {
    margin-top: -2px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

