<div class="footer">
    <nav>
        <ul class="nav-buttom">
            <li><a class="page-scroll scroll" href="#home">Home</a></li>
            <li><a class="page-scroll scroll" href="#about">About</a></li>
            <li><a class="page-scroll scroll" href="#service">Facilities</a></li>
            <li><a class="page-scroll scroll" href="#gallery">Laboratory</a></li>
            <li><a class="page-scroll scroll" href="#contact">Contact</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="colr-row col-md-6  ">
            <div class="col-md-6 col-sm-6 col-xs-6  bottom-head bottm-grid">
                <h2><a href="#home">ED&P</a></h2>
                <span class="cap">Better Health</span>
                <div class="clearfix"> </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6 copyright bottm-grid">
                <h3>Follow us</h3>
                <div class="icons">
                    <ul>
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-rss"></span></a></li>
                        <li><a href="#"><span class="fa fa-vk"></span></a></li>
                    </ul>

                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="colr-row  col-md-6">
            <div class="col-md-6 col-sm-6 col-xs-6 one bottm-grid">
                <h3>About us</h3>
                <p> our strength is built through struggle and hardship </p>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 three bottm-grid">
                <h3>Contact</h3>
                <div class="addres up-out">
                    <p><span class="fa fa-map-marker icons-left" aria-hidden="true"></span>Uttara, Dhaka</p>

                    <p><span class="fa fa-phone icons-left" aria-hidden="true"></span>Call us:+8801786981171</p>

                </div>
                <div class="clearfix"> </div>
            </div>
            <!-- //Copyright -->
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<footer>
    <p>&copy;2019 ED&P. All Rights Reserved | Design by Nahid Babu</p>
</footer>